body {
    max-height: 100vh;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url(../images/pattern-curve.svg);
    background-position-y: 120%;
    background-repeat: no-repeat;
}

.hero {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 90vw;
}

.photo-container {
    background-image: url(../images/pattern-bg.svg);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 30px;
    position: relative;
}

.arrow-container {
    position: absolute;
    width: 70px;
    height: 36px;
    margin: 0;
    background-color: white;
    border-radius: 18px;
    bottom: 35px;
    left: 50%;
    transform: translate(-50%, 50%);
}

.arrow {
    position: absolute;
    height: 40%;
    bottom: 50%;
}

.arrow--previous {
    left: 10%;
    transform: translate(50%, 50%);
}

.arrow--next {
    right: 10%;
    transform: translate(-50%, 50%);
}

.testimonial__container {
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
}

.testimonial__description {
    display: flex;
    flex-direction: column;
    color: hsl(240, 38%, 20%);
    text-align: center;
    margin-block-end: 0;
    background-image: url(../images/pattern-quotes.svg);
    background-repeat: no-repeat;
    background-size: 60px 60px;
    background-position-x: center;
    justify-content: center;
}

.testimonial__header {
    font-size: 1.08rem;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 0;
}

.testimonial__author {
    font-weight: 700;
    font-size: 0.95rem;
    margin: 0;
    padding: 1rem 0 0.5rem 0;
}

.testimonial__profession {
    margin: 0;
    font-size: 0.85rem;
    font-weight: 300;
    color: hsl(240, 18%, 77%);
}

.testimonial__photo {
    width: 90%;
    margin: 30px 0;
    border-radius: 5%;
    box-shadow: 0px 6px 18px 5px rgba(81, 81, 81, 0.59);
}

.footer {
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

@media (min-width: 768px) {
    .testimonial__photo {
        width: 80%;
    }
    .testimonial__header {
        font-size: 1.8rem;
    }
    .testimonial__author {
        font-size: 1.5rem;
    }
    .testimonial__profession {
        font-size: 1.3rem;
    }
    .attribution {
        font-size: 14px;
    }
}

.author-profession__container {
    display: flex;
    flex-direction: column;
}

@media (min-width: 1025px) {
    .testimonial__container {
        flex-direction: row;
    }
    .testimonial__description {
        flex-basis: 50%;
        text-align: left;
        background-position-x: 20%;
        background-position-y: 37%;
    }
    .testimonial__header {
        position: fixed;
        z-index: 1;
        width: 60%;
    }
    .testimonial__author {
        padding-bottom: 0;
        padding-right: 1rem;
    }
    .arrow-container {
        left: 30%;
    }
    .author-profession__container {
        flex-direction: row;
        margin-top: 35%;
        align-items: flex-end;
    }
}